<div class="food mt-0">
	<div class="container">
		<div class="align-items-center">
			<%= form_tag import_menus_path, method: :post, multipart: true do %>
			<div class="input-group">
				<%= file_field_tag :file, accept: ".csv", class: "form-control" %>
				<%= submit_tag '⚙️ Import', class: "btn btn-outline-success" %>
			</div>
			<% end %>
		</div>
	</div>
</div>